
    <% layout('../views/layout') %>
    <% for(let item of items){ %> 
        <div className="col-md-3 my-3">
            <div className="card">
                    <div className="card-body">
                        <h2 className="card-title"><%= item.name %></h2>
                        <p className="card-text"><a class="btn btn-success" href="/item/<%= item._id %>">See item</a></p>
                    </div>
            </div>
        </div>
        <% } %> 

        <h2> <a href="/item/newItem"> Add a new Item</a></h2>

