<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/item/newItem" method="POST">
        <label for="name">Item name</label>
        <input type="text" id="name" name="name">

        <label for="category">Item category</label>
        <input type="text" id="category" name="category">

        <label for="quantity">Item quantity</label>
        <input type="number" id="quantity" name="quantity">

        <label for="price">Item price</label>
        <input type="number" id="price" name="price">

        <button>Submit</button>
    </form>
</body>
</html>